<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XSSH</title>
</head>
<body>
<h1>XSSH - The Extreme SSH Tool</h1>
<p>Hello!</p>
<p>Project page: <a href="https://github.com/moisespsena-go/xssh">github.com/moisespsena-go/xssh</a></p>
<p>Your Host: <a href="//{{.Host}}">{{.Host}}</a></p>
</body>
</html>